body,html{
      height: 100%;
      margin: 0;
}

.landscape{
    width:100%;
    height: 100%;
    background-image: url(images/hilly-landscape.jpg);
    background-size: 100% 100%;
    position: relative;
}

.track{
    background: url(images/train-track-pattern.png) top repeat-x;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.train {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 40px;
    width: 600px;
}

.train img {
    display: inline-block;
	width: 33%;
    margin-right: -2%;
    margin-bottom: -1%;
}

/*Wasn't sure how to adjust the track to make it smaller, so I used percentage*/
@media screen and (max-width: 1000px) {
 .train {
     width:  500px;
}
    .track {
	background-size: 15% 80%;
}

@media screen and (max-width: 750px) {
    .train {
        width:  400px;
}
    .track {
	    background-size: 20% 80%;
}

@media screen and (max-width: 500px) {
    /* Things start to get a little weird here.  There has to be a better wa
        than guessing with margins. */
    .train {
        width:  250px;
        margin-bottom: 2px;
}
    .track {
	    background-size: 20% 80%;
}
    .train img {
	    margin-bottom: -5px;
}

    @media screen and (max-width: 300px) {
    .train {
        width:  150px;
        margin-bottom: 2px;
}
    .track {
	    background-size: 20% 80%;
}
    .train img {
	    margin-bottom: -5px;
}



